*{
    margin: 0;
    padding: 0;
    position: fixed;
}
body{
    background-color: red;
    overflow: hidden;

}
.gameContainer{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width:100%;
    height: 100vh;

}
.dino{
    background-image: url(boy3.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width:150px;
    height: 160px;
    position: absolute;
    bottom: 0;
    left: 12px;
}
.obstacle{
    background-image: url(lio.gif);
    /* background-repeat: no-repeat; */
    background-size:cover;
    width:250px;
    height: 112px;
    position: absolute;
    bottom: 0;
    left: 40vw;
}
.birds{
    width:133px;
    height:125px;
    right: 200px;
    position: absolute;
    background-image: url(par.gif);
    background-size: auto 100%;
    background-repeat: no-repeat;
    

}
.animatebird{
    animation: birdAni 5s linear infinite ;
}
.animateDino{
    animation: dino 1.2s linear;
}
.obstacleAni{
    animation: obstacleAni 5s linear infinite ;
}
.gameOver{
    visibility: hidden;
    position: relative;
    top: 300px;
    width:100%;
    font-family: sans-serif;
    height:200px;
    background-image: linear-gradient(to right, rgba(110, 245, 0, 0.842) 6% , rgba(241, 245, 6, 0.959) 66%);
    /* background-color: gold; */
    border: 2px solid black ;
    text-align: center;
    font-size: 200px;
    color:red;
    font-family: sans-serif;
}
#scoreCont{
    position: relative;
    left: 23px;
    top: -100px;
    background-image: linear-gradient(to right, rgba(247, 147, 65, 0.842) 6% , rgba(214, 49, 236, 0.712) 66%);
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 24px;
    text-align: center;
    padding: 10px;
    width: 122px;
}
.play{
    width:70px;
    height: 40px;
    left: 180px;
    top: 145px;
    background-color: rgb(18, 230, 219);
    border-radius: 25px;
    /* visibility: hidden; */
    position: relative;

}
.lefte{
    width:50px;
    height:50px;
}
.button{
    width:200px;
    height: 100px;
    /* border: 2px solid rgb(206, 195, 195); */
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    left: 75%;
    top:60%;
}
.up{
    width:50px;
    height:40px;
}
.p{
    width:70px;
    height: 40px;
    left: 15px;
    top: 14px;
    background-image: linear-gradient(to right, rgba(235, 247, 65, 0.842) 6% , rgba(49, 236, 49, 0.712) 66%);
    border-radius: 25px;
    /* visibility: hidden; */
    position: relative;
    font-size: xx-large;
}
.pl{
    width:70px;
    height: 40px;
    left: 7px;
    top: -25px;
    background-image: linear-gradient(to right, rgba(235, 247, 65, 0.842) 6% , rgba(49, 236, 49, 0.712) 66%);
    border-radius: 25px;
    /* visibility: hidden; */
    position: relative;
    /* border: 2px solid black; */
      font-size: xx-large;
}
.pla{
    width:70px;
    height: 40px;
    left: 0px;
    top: 14px;
    background-image: linear-gradient(to right, rgba(235, 247, 65, 0.842) 6% , rgba(49, 236, 49, 0.712) 66%);
    border-radius: 25px;
    /* visibility: hidden; */
    position: relative;
      font-size: xx-large;
}

@keyframes dino{
     0%{
    bottom: 0;
     }
     50%{
      bottom: 552px;
    }
   100%{
      bottom: 0; 
    }
}
@keyframes obstacleAni{
    0%{
   left: 150vh;
   overflow: hidden;
    }
  100%{
     left:-5vw;   
   }
}



@media screen and (min-width: 480px) {
    .up{
        width:50px;
        height:40px;
    }
    .p{
        width:300px;
        height: 80px;
        left: 0px;
        top: 80px;
        background-image: linear-gradient(to right, rgba(235, 247, 65, 0.842) 6% , rgba(49, 236, 49, 0.712) 66%);
        border-radius: 25px;
        /* visibility: hidden; */
        position: relative;
        font-size: xx-large;
    }
    .pl{
        width:300px;
        height: 80px;
        left: 3px;
        top: -16px;
        background-image: linear-gradient(to right, rgba(235, 247, 65, 0.842) 6% , rgba(49, 236, 49, 0.712) 66%);
        border-radius: 25px;
        /* visibility: hidden; */
        position: relative;
        /* border: 2px solid black; */
          font-size: xx-large;
    }
    .pla{
        width:300px;
        height: 80px;
        left: 10px;
        top: 80px;
        background-image: linear-gradient(to right, rgba(235, 247, 65, 0.842) 6% , rgba(49, 236, 49, 0.712) 66%);
        border-radius: 25px;
        /* visibility: hidden; */
        position: relative;
          font-size: xx-large;
    }

    .gameOver{
        visibility: hidden;
        position: relative;
        top: 200px;
        width:100%;
        font-family: sans-serif;
        height:150px;
        background-image: linear-gradient(to right, rgba(110, 245, 0, 0.842) 6% , rgba(241, 245, 6, 0.959) 66%);
        /* background-color: gold; */
        border: 2px solid black ;
        text-align: center;
        font-size: 130px;
        color:red;
        font-family: sans-serif;
    }

    .play{
        width:100px;
        height: 40px;
        left: 180px;
        top: 95px;
        background-color: rgb(18, 230, 219);
        border-radius: 25px;
        /* visibility: hidden; */
        position: relative;
    
    }
    .button{
        width:200px;
        height: 100px;
        /* border: 2px solid rgb(206, 195, 195); */
        display: flex;
        justify-content:center;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        left: 73%;
        top:60%;
    }

    
.dino{
    background-image: url(boy3.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width:150px;
    height: 160px;
    position: absolute;
    bottom: 0;
    left: 12px;
}
.obstacle{
    background-image: url(lio.gif);
    /* background-repeat: no-repeat; */
    background-size:cover;
    width:250px;
    height: 112px;
    position: absolute;
    bottom: 0;
    left: 40vw;
}

  }

  @media screen and (min-width: 1000px) {
    *{
        margin: 0;
        padding: 0;
        position: fixed;
    }
    body{
        background-color: red;
        overflow: hidden;
    
    }
    .gameContainer{
        background-image: url(bg.png);
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        width:100%;
        height: 100vh;
    
    }
    .dino{
        background-image: url(boy3.gif);
        background-size: cover;
        background-repeat: no-repeat;
        width:150px;
        height: 160px;
        position: absolute;
        bottom: 0;
        left: 12px;
    }
    .obstacle{
        background-image: url(lio.gif);
        /* background-repeat: no-repeat; */
        background-size:cover;
        width:250px;
        height: 112px;
        position: absolute;
        bottom: 0;
        left: 40vw;
    }
    .birds{
        width:133px;
        height:125px;
        right: 200px;
        position: absolute;
        background-image: url(par.gif);
        background-size: auto 100%;
        background-repeat: no-repeat;
        
    
    }
    .animatebird{
        animation: birdAni 5s linear infinite ;
    }
    .animateDino{
        animation: dino 1.2s linear;
    }
    .obstacleAni{
        animation: obstacleAni 5s linear infinite ;
    }
    .gameOver{
        visibility: hidden;
        position: relative;
        top: 300px;
        width:100%;
        font-family: sans-serif;
        height:200px;
        background-image: linear-gradient(to right, rgba(110, 245, 0, 0.842) 6% , rgba(241, 245, 6, 0.959) 66%);
        /* background-color: gold; */
        border: 2px solid black ;
        text-align: center;
        font-size: 200px;
        color:red;
        font-family: sans-serif;
    }
    #scoreCont{
        position: relative;
        left: 23px;
        top: -100px;
        background-image: linear-gradient(to right, rgba(247, 147, 65, 0.842) 6% , rgba(214, 49, 236, 0.712) 66%);
        color: rgb(255, 255, 255);
        border: 1px solid black;
        border-radius: 24px;
        text-align: center;
        padding: 10px;
        width: 122px;
    }
    .play{
        width:70px;
        height: 40px;
        left: 180px;
        top: 145px;
        background-color: rgb(18, 230, 219);
        border-radius: 25px;
        /* visibility: hidden; */
        position: relative;
    
    }
    .lefte{
        width:50px;
        height:50px;
    }
    .button{
        width:200px;
        height: 100px;
        /* border: 2px solid rgb(206, 195, 195); */
        display: flex;
        justify-content:center;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        left: 75%;
        top:60%;
    }
    .up{
        width:50px;
        height:40px;
    }
    .p{
        width:70px;
        height: 40px;
        left: 15px;
        top: 14px;
        background-image: linear-gradient(to right, rgba(235, 247, 65, 0.842) 6% , rgba(49, 236, 49, 0.712) 66%);
        border-radius: 25px;
        /* visibility: hidden; */
        position: relative;
        font-size: xx-large;
    }
    .pl{
        width:70px;
        height: 40px;
        left: 7px;
        top: -25px;
        background-image: linear-gradient(to right, rgba(235, 247, 65, 0.842) 6% , rgba(49, 236, 49, 0.712) 66%);
        border-radius: 25px;
        /* visibility: hidden; */
        position: relative;
        /* border: 2px solid black; */
          font-size: xx-large;
    }
    .pla{
        width:70px;
        height: 40px;
        left: 0px;
        top: 14px;
        background-image: linear-gradient(to right, rgba(235, 247, 65, 0.842) 6% , rgba(49, 236, 49, 0.712) 66%);
        border-radius: 25px;
        /* visibility: hidden; */
        position: relative;
          font-size: xx-large;
    }
    


    
  }